@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}
.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text{
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-weight: 700;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    font-family: "Comic Neue", cursive;
    font-size: 29px;
    align-items: center;
    padding: 20px;
}

.nav-item1{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    transition-duration: 200ms;
}

.nav-item2{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.nav-item1:hover{
    background-color: grey;
    cursor: grab;
}

.nav-item2:hover{
    background-color: grey;
    cursor: grab;
}

.choices-powerups{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.choices-imgs{
    display: flex;
    gap: 30px;
    padding-bottom: 100px;
}

.choice-img1, .choice-img2, .choice-img3{
    border: 2px solid black;
    padding: 10px;
    transition-duration: 100ms;
}

.choice-img1:hover, .choice-img2:hover, .choice-img3:hover{
    background-color: rgba(128, 128, 128, 0.247);
    transform: scale(0.98);
}

.choice-img1:active, .choice-img2:active, .choice-img3:active{
    transform: rotate(5deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.powerups.imgs{
    display: flex;
    justify-content: space-between;
}

.power-img1{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.powerup-text{
    padding-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-family: "Comic Neue", cursive;
    font-size: 50px;
    transition-duration: 100ms;
}

.power-img1:hover{
    background-color: rgba(128, 128, 128, 0.247);
    transform: scale(0.98);
}

.power-img1:active{
    transform: rotate(5deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-size: 30px;
}

.result{
    height: 50px;
    width: 400px;
    text-align: center;
    font-family: "Comic Neue", cursive;
    font-size: 30px;
    font-weight: 800;
    border: 2px solid black;
    margin: 60px;
}

.power{
    min-height: 80px;
}

a{
    text-decoration: none;
    color: inherit;
}