@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}
.main-container{
    min-height: 100vh;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text{
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-weight: 700;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    font-family: "Comic Neue", cursive;
    font-size: 29px;
    align-items: center;
    padding: 20px;
}

.nav-item1{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    transition-duration: 200ms;
}

.nav-item2{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.nav-item1:hover{
    background-color: grey;
    cursor: grab;
}

.nav-item2:hover{
    background-color: grey;
    cursor: grab;
}

.choices-powerups{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.choices-imgs{
    display: flex;
    gap: 30px;
}